<div class="body-container d-flex justify-content-center" style="width: 100vw; height: 100vh; padding: 5vw; flex-direction: column;">
  <div class="heading d-flex justify-content-center align-items-center">
    <h1 style="font-size: 7vw;">Welcome to my website!</h1>
  </div>
  <div class="bottom-half">
    <div class="d-flex justify-content-center align-items-center anime1 animated fadeIn" style="margin-top: 7vw;">
      <a href="/intro" class="button text-center" style="font-size: 5vw; display: block; width: 20vw; height: 10vw; padding-top: 1vw;">Enter</a>
    </div>
    <h1 class="text-center anime2 animated fadeIn" style="font-size: 5vw; margin-top: 1vw;">if you dare...</h1>
  </div>
</div>
