<div class="heading d-flex justify-content-center align-items-center" style="margin-top: 10vw;">
  <h1 style="font-size: 7vw;">Welcome to my website!</h1>
</div>
<div class="bottom-half">
  <div class="button d-flex justify-content-center align-items-center" style="margin-top: 7vw;">
    <a href="/intro" class="text-center button anime1 animated fadeIn" style="font-size: 5vw; display: block; width: 20vw; height: 10vw; padding-top: 1vw; background-color: #CFB53B;">Enter</a>
  </div>
  <h1 class="text-center anime2 animated fadeIn" style="font-size: 5vw; margin-top: 2vw;">if you dare...</h1>
</div>
