<div class="body-container d-flex justify-content-center" style="width: 100vw; height: 100vh; padding: 5vw; flex-direction: column;">
  <div class="heading d-flex justify-content-center align-items-center">
    <h1 style="font-size: 5vw;">Click this button to listen to my favourite song:</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="margin-top: 5vw;">
    <a href="https://www.youtube.com/watch?v=2cBzMSPYKas?autoplay=1" class="button text-center button anime1 animated fadeIn" style="font-size: 5vw; display: block; width: 28vw; height: 10vw; padding-top: 1vw;">Click here</a>
  </div>
  <h1 class="anime2 animated fadeIn" style="font-size: 5vw; margin-top: 5vw;">I’m not joking, this button will bring you to my favourite song!</h1>
</div>
